{% load i18n gestion_tags %}

<div class="toolbar-jobs p-3"> <h2><i class="fas fa-user orange"></i> {{obj.name}} ({{obj.zone}})</h2> </div>

<div id="step1" class="hide">
    <input class="form-control input autocomplete" id="client" name="client" placeholder="{% trans "Nombre cliente" %}" 
        value="" data-url="{% url "employee-search-client" %}" data-target="client-search-list" data-obj_id="{{obj.id}}" 
        data-show="client-list"/>
    <div id="client-search-list"></div>
</div>

<div class="row mt-3">
    {% for key, value in client_list.items %}
        <div class="col-lg-4 col-12">
            <div class="card mb-4 text-bg-info">
                <div class="card-header">
                    <div class="row client">
                        <div class="col-1 col-1 text-center py-1"><i class="fas fa-map-marker orange"></i> </div>
                        <div class="col-9 col-1 text-center py-1"> {{key}} </div>
                        <div class="col-1 col-1 text-center py-1">
                            <a href="{% url "clients-timetable" value.0.client %}" target="_blank" title="Horario">
                                <i class="fas fa-clock"></i></a>
                        </div>
                        <div class="col-1 col-1 text-center py-1">
                            <a href="{% url "clients-details" value.0.client %}" target="_blank" title="Ficha del cliente">
                                <i class="fas fa-address-card"></i></a>
                        </div>
                    </div>
                    {%comment%}
                    <div class="row py-2" style="border-bottom: 1px solid #ccc;">
			            <div class="col-5 text-center"> Trabajado: <br/> <strong>
                            {% get_client_worked_time obj value.0.client request.session.s_employee_idate request.session.s_employee_edate %}
                            </strong> 
                        </div>
                        <div class="col-5 offset-2 text-center"> Debe trabajar:<br />
                            <strong>{% get_client_work obj value.0.client request.session.s_employee_idate request.session.s_employee_edate %}</strong> 
                        </div>
                    </div>
                    {%endcomment%}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

