{%load i18n%}

<div class="row justify-center">
    <div class="col-lg-2 col-2 my-2">
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input autosave" id="inactive" name="inactive"  
                data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" data-bool="True" {%if obj.inactive%}checked{%endif%} 
                onclick="$('#div-date-inactive').toggle()"/> <span id="inactive__msg"></span>
            <label class="form-check-label" for="flexSwitchCheckDefault">{%trans "Desactivar"%}</label>
        </div>
    </div>
</div>
<div class="{%if not obj.inactive%}hide{%endif%}" id="div-date-inactive">
    {%comment%}
    <div class="col-12 mt2-2 mb-3"> {% trans "Fecha de desactivación" %} 
        <input type="date" class="form-control autosave" id="date_inactive" name="date_inactive" data-model-name="gestion.client" 
            data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" 
            data-value="{{obj.date_inactive}}" value="{{obj.date_inactive|date:"Y-m-d"}}"/> 
        <span id="date_inactive__msg"></span>
    </div>
    <div class="col-12 my-2"> {% trans "Observaciones" %}
        <textarea class="form-control autosave" id="obs_inactive" name="obs_inactive" title="{{obj.obs_inactive}}" 
            data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
            data-target="div-notification" placeholder="Observaciones...">{{obj.obs_inactive|default:""}} </textarea>
        <span id="obs_inactive__msg"></span>
    </div>
    {%endcomment%}

    <form class="form m-0" method="GET" action="{% url "clients-inactive-add" %}" id="form-save-inactive">
        {%csrf_token%}
        <input type="hidden" id="obj_id" name="obj_id" value="{{obj.id}}" />
        <div class="row">
            <div class="col-10"> {% trans "Fecha de desactivación" %} 
                <input type="date" class="form-control autosave" id="date" name="date" value="{{today|date:"Y-m-d"}}"/> 
            </div>
            <div class="col-2"> 
                <button class="btn btn-primary-add saveform" data-bs-dismiss="modal" data-form="form-save-inactive" 
                    data-target="div-inactive"> <i class="fas fa-plus"></i>  {% trans "Añadir" %}</button>
            </div>
        </div>
        <div class="row mb-4 mt-2">
            <div class="col-12"> {% trans "Observaciones" %}
                <textarea class="form-control autosave" id="obs" name="obs" placeholder="Observaciones..."></textarea>
            </div>
        </div>
    </form>
</div>

<button type="button" class="btn btn-primary-add" data-bs-toggle="collapse" data-bs-target="#historial">Ver historial</button>
<div id="historial" class="collapse mt-3">
 {% for item in obj.inactives.all %}
    <div class="row">
	<div class="col-10 mt-2"><strong> {% trans "Fecha de desactivación" %}:</strong> {{item.date}}</div>
	<div class="col-2 text-end">
	    <div class="tools flex space-between">
		<a class="btn btn-xs ark delete-btn" id="" title="{% trans "Borrar" %}" 
		    data-confirm="{% trans "Esta seguro/a de que desea borrar este elemento?" %}" 
		    data-url="{%url "clients-inactive-remove"%}" data-target="div-inactive" data-obj_id="{{item.id}}"> 
		    <i class="fas fa-times"></i></a>
	    </div>
	</div>
	<div class="col-12"><strong>{% trans "Observaciones" %}:</strong> {{item.obs}}</div>
    </div>
    <hr class="orange"/>
 {% endfor %}

</div>
