{% load i18n gestion_tags %}


<form class="form m-0" method="GET" action="{% url "clients-type-add" %}" id="form-save-type">
    {%csrf_token%}
    <input type="hidden" id="obj_id" name="obj_id" value="{{obj.id}}" />
    <div class="row">
        <div class="col-lg-7 col-6 my-2"> {% trans "Cliente" %}
            <select class="form-control" id="type" name="type"> 
                <option value="">{%trans "-- Seleccione un tipo --"%}</option>
                {% for item in type_list %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-3 my-2 text-center"> {% trans "Cuantía" %}
            <input type="text" class="form-control" id="amount" name="amount" />
        </div>
        <div class="col-lg-3 col-3 my-2 text-end"> 
            <button class="btn btn-primary-add saveform" data-bs-dismiss="modal" data-form="form-save-type" data-target="div-types">
               <i class="fas fa-plus"></i>  {% trans "Añadir" %}</button>
        </div>
    </div>
</form>

{% for item in obj.types.all %}
	<div class="row type-item pt-2">
		<div class="col-lg-8 col-7 my-1"> {{item.client_type.name}} </div>
		<div class="col-lg-2 col-2 my-1"> {{item.amount}} </div>
		<div class="col-lg-2 col-3 my-1 text-end">
		    <div class="tools flex space-between">
			<a class="btn btn-xs ark delete-btn" id="btn-photo-{{item.pk}}" title="{% trans "Borrar" %}" 
			    data-confirm="{% trans "Esta seguro/a de que desea borrar este elemento?" %}" 
			    data-url="{%url "clients-type-remove"%}" data-target="div-types" data-obj_id="{{item.id}}"> 
			    <i class="fas fa-times"></i></a>
		    </div>
		</div>
	</div>
{% endfor %}
