{% load i18n %}

<div id="div-notification"></div>

<div class="row justify-center mt-4">
    <div class="col-lg-3 col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "NIF/NIE" %}
            <input type="text" class="form-control autosave" id="code" name="code" value="{{obj.code|default:""}}" 
                title="{{obj.name}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Código..." /> <span id="code__msg"></span>
        </div>
    </div>
    <div class="col-lg-3 col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Número de expediente" %}
            <input type="text" class="form-control autosave" id="exp" name="exp" value="{{obj.exp|default:""}}" 
                title="{{obj.exp}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Código..." /> <span id="exp__msg"></span>
        </div>
    </div>
    <div class="col-lg-2 col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Fecha de contrato" %}
            <input type="date" class="form-control autosave" id="date" name="date" value="{{obj.date|date:"Y-m-d"}}" 
                title="{{obj.date}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Código..." /> <span id="exp__msg"></span>
        </div>
    </div>
    <div class="col-lg-2 col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Teléfono" %}
            <input type="text" class="form-control autosave" id="phone" name="phone" value="{{obj.phone|default:""}}" 
                title="{{obj.phone}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Teléfono..." /> <span id="phone__msg"></span>
        </div>
    </div>
    <div class="col-lg-2 col-12 text-end my-2">{% trans "Acceso QR" %}
        <input type="checkbox" class="form-check-input autosave" id="qr_access" name="qr_access"  data-model-name="gestion.client" 
            data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification" data-bool="True"
            {%if obj.qr_access%}checked{%endif%}/> <span id="qr_access__msg"></span>
    </div>
</div>

<div class="row justify-center">
    <div class="col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Nombre" %}
            <input type="text" class="form-control autosave" id="name" name="name" value="{{obj.name|default:""}}" 
                title="{{obj.name}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Nombre..." /> <span id="name__msg"></span>
        </div>
    </div>
    <div class="col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Correo electrónico" %}
            <input type="text" class="form-control autosave" id="email" name="email" value="{{obj.email|default:""}}" 
                title="{{obj.email}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Correo electrónico..." /> <span id="email__msg"></span>
        </div>
    </div>
</div>
<div class="row justify-center">
    <div class="col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Dirección" %}
            <input type="text" class="form-control autosave" id="address" name="address" value="{{obj.address|default:""}}" 
                title="{{obj.address}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification" placeholder="Dirección..." /> 
            <span id="address__msg"></span>
        </div>
    </div>
    <div class="col-6 my-2">
        <div class="greybox-sm p-1">
            {% trans "Municipio" %}
            <input type="text" class="form-control autosave" id="city" name="city" value="{{obj.city|default:""}}" 
                title="{{obj.city}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" 
                data-url="{%url "autosave_field"%}" data-target="div-notification" placeholder="Municipio..." /> 
            <span id="city__msg"></span>
        </div>
    </div>
</div>
    
<div class="row justify-center">
    <div class="co-lg-12 col-12 my-2">
        <div class="greybox-sm p-1">
            {% trans "Observaciones" %}
            <textarea class="form-control autosave" id="observations" name="observations" title="{{obj.observations}}" 
                data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Observaciones...">{{obj.observations|default:""}} </textarea>
            <span id="observations__msg"></span>
        </div>
    </div>
</div>

    {%comment%}
    <div class="col-4">
        <div class="greybox-sm p-1">
            {% trans "Tipo" %}
            <select class="form-control autosave" id="client_type" name="client_type"  data-model-name="gestion.client" 
                data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" data-target="div-notification"> 
                <span id="client_type__msg"></span>
                <option value="">{% trans "-- Seleccione un tipo --" %}</option>
                {% for item in type_list %}
                    <option value="{{item.id}}"{%if item.id == obj.client_type.id%}selected{%endif%}>{{item.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-4">
        <div class="greybox-sm p-1">
            {% trans "Cuantía" %}
            <input type="number" class="form-control autosave" id="amount" name="amount" value="{{obj.amount}}" 
                title="{{obj.amount}}" data-model-name="gestion.client" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification"/> <span id="amount__msg"></span>
        </div>
    </div>
    {%endcomment%}


