{%load i18n%}

<div class="row justify-center">
    <div class="col-lg-6 col-6 my-2 text-start">
	<button type="button" class="btn btn-primary-add" data-bs-toggle="collapse" data-bs-target="#historial">Ver historial</button>
    </div>

    <div class="col-lg-6 col-6 my-2 text-end">
        <div class="form-check form-switch">
            {% if obj.inactive %}
		        <a class="btn btn-default ark" data-url="{%url "clients-inactive-set"%}" data-target="div-inactive" 
                    data-obj_id="{{obj.id}}"> {% trans "Activar" %}</a>
            {% else %}
		        <a class="btn btn-primary ark" data-url="{%url "clients-inactive-confirm"%}" data-target-modal="common-modal" 
                    data-obj_id="{{obj.id}}"> {% trans "Desactivar" %}</a>
            {% endif %}
        </div>
    </div>
</div>

<div id="historial" class="collapse mt-3">
    {% for item in obj.inactives.all %}
        <div class="row">
        <div class="col-10 mt-2"><strong> {% trans "Fecha de desactivación" %}:</strong> {{item.date}}</div>
        <div class="col-2 text-end">
            {%comment%}
            <div class="tools flex space-between">
                <a class="btn btn-xs ark delete-btn" id="" title="{% trans "Borrar" %}" 
                    data-confirm="{% trans "Esta seguro/a de que desea borrar este elemento?" %}" 
                    data-url="{%url "clients-inactive-remove"%}" data-target="div-inactive" data-obj_id="{{item.id}}"> 
                    <i class="fas fa-times"></i></a>
            </div>
            {%endcomment%}
        </div>
        <div class="col-12"><strong>{% trans "Motivo de la baja" %}:</strong> {{item.itype.name}}</div>
        <div class="col-12"><strong>{% trans "Observaciones" %}:</strong> {{item.obs}}</div>
        </div>
        <hr class="orange"/>
    {% endfor %}
</div>

