{% extends "pwa-base.html" %}
{% load static i18n pwa_tags %}

{% block content%}
    <div class="col-12 p-2 mt-3">
        <div class="text-start my-2">
	    <div class="row m-0 mt-2">
	    <div class="col-12 mb-2 text-dark"><small>{% trans "Pulsa para entrar al cliente" %}</small></div>
            {% if obj == None %}
                {% if sad_list|length > 0 %}
                    {% for item in sad_list %}
			<div class="col-6 p-2">
                        	<a class="btn btn-secondary asm-client w-100 " href="{% url "pwa-employee-client" item.client.id %}"> {{item.client}} </a>
			</div>
                    {% endfor %}
                {% endif %}
                {#{% else %}#}
                {% if qr_list|length > 0 %}
                    <a class="btn btn-success asm w-100 py-3" href="{%url 'pwa-qr-scan'%}">Entrar con QR</a>
                {% endif %}
		</div>
            {% else %}
		<div class="alert">¡ENTRADA REALIZADA!</div>
                <p class="info text-center p-2">{%trans "Actualmente se encuentra con el/la usuario/a: "%}</p>
                <p class="name text-center py-5">{{obj.client.name}}</p>
                <p class="date text-center">
                    <i class="fa fa-clock-o"></i> {%trans "Inicio: "%} {{obj.ini_date|local_time|date:"d-m-Y H:i"}}</span></p>
                <p class="date text-center"> {%trans "Observaciones: "%} {{obj.client.observations}}</p>
                {% if obj.client.qr_access %}
                    <a class="btn btn-danger asm w-100 py-3" href="{%url 'pwa-qr-scan-finish'%}">Salir </a>
                {% else %}
                    <a class="btn btn-danger asm w-100 py-3" href="{%url 'pwa-employee-client-finish' obj.client.id%}">Salir </a>
                {% endif %}
            {% endif %}
            <br/><br/><br/>
        </div>
    </div>
{% endblock %}
