{% extends 'base.html' %}
{% load i18n static gestion_tags%}

{% block central_content %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static "js/calendar_emp.js" %}"></script>

	<div class="row">	
		<div class="col-12">
			<div class="toolbar-content p-3">
		        <h2 class="pathway">
                	{%trans 'Empleado'%}: <span class="badge badge-secondary"> {{obj.name}}</span></h2>
	            <a class="btn btn-sm new ark" data-url="{%url 'employees-timetable-change-status'%}" data-target-modal="common-modal"
                    data-obj_id="{{obj.id}}"> <i class="fa fa-cog"></i> {% trans 'Cambiar estado' %}</a>
	            <a class="btn btn-sm new" href="{%url 'employees'%}"><i class="fa fa-arrow-left"></i> {% trans 'Volver' %}</a>
        	</div>
		</div>
	</div>

    <div class="content">
        <div class="sidebar">
            <div class="row">
                <div class="col-7"><h2 class="pt-2">👥 Clientes</h2></div>
                <div class="col-5 text-end">
                    {%comment%}
                    <button class="btn btn-sm new ark" data-url="{% url "clients-timetable-employees-add" %}" 
                        data-target-modal="common-modal" data-obj_id="{{obj.id}}"> <i class="fas fa-plus"></i> Añadir</button>
                    {%endcomment%}
                </div>
            </div>
            <div id="client-list" class="client-list">{% include "employees/timetable/employees-timetable-clients.html" %}</div>
        </div>

        <div class="calendar-container">
            <div class="calendar-header">
                <h2 id="currentMonth"></h2>
                <div class="month-navigation">
                    <button class="nav-btn" id="prevMonth" data-employee="{{obj.id}}">◀</button>
                    <button class="btn btn-secondary" id="todayBtn" data-employee="{{obj.id}}">Hoy</button>
                    <button class="nav-btn" id="nextMonth" data-employee="{{obj.id}}">▶</button>
                </div>
            </div>

            <div class="calendar" id="calendarGrid">
                <div class="day-header">Lun</div>
                <div class="day-header">Mar</div>
                <div class="day-header">Mié</div>
                <div class="day-header">Jue</div>
                <div class="day-header">Vie</div>
                <div class="day-header">Sáb</div>
                <div class="day-header">Dom</div>
            </div>
        </div>
    </div>

    {% include "common-modal.html" %}

    <button id="btn-start" data-employee="{{obj.id}}" style="border:none"></button>
    <script> setTimeout(()=>{$("#btn-start").click();}, 500); </script>


{% endblock central_content %}
