{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="fa fa-medkit orange"></i>&nbsp; {% trans 'Cambio de estado' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<form method="POST" action="{% url "employees-timetable-set-status" %}">
    {% csrf_token %}
    <input type="hidden" id="employee" name="employee" value="{{emp}}" />
    <div class="row justify-center">
        <div class="col-4">
            <div class="greybox-sm p-1"> {% trans "Fecha de inicio" %}
                <input type="date" class="form-control" id="ini_date" name="ini_date"> 
            </div>
        </div>
        <div class="col-4">
            <div class="greybox-sm p-1"> {% trans "Fecha de fin" %}
                <input type="date" class="form-control" id="end_date" name="end_date"> 
            </div>
        </div>
        <div class="col-4">
            <div class="greybox-sm p-1"> {% trans "Estado" %}
                <select class="form-control" id="status" name="status"> 
                    <option value="">{% trans "-- Seleccione un estado--" %}</option>
                    {% for item in status_list %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end p-2">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Guardar" %}</button>
    </div>
</form>

