{% load i18n %}

<div class="row modal-head m-0">
    <div class="col-11"><i class="fas fa-users orange"></i>&nbsp; {% trans 'Clientes' %} </div>
    <div class="col-1"> <div class="d-flex justify-content-end"> 
        <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
        <i class="fas fa-times"></i></button> </div> </div>
</div>

    {%comment%}
	<div class="col-9">
        <input type="text" class="form-control border p-2" id="search-emp" name="search_emp" placeholder="Cliente/a a buscar..."/>
    </div>
	<div class="col-1 pt-3"><i class="fas fa-search"></i></div>
    {%endcomment%}
<form class="form m-0" method="GET" action="{% url "employees-timetable-clients-save" %}" id="form-search">
    {%csrf_token%}
    <input type="hidden" name="obj_id" id="obj_id" value="{{obj.id}}"/> 
    <input type="hidden" name="client" id="client"/> 
    <div class="row m-0 p-2">
        <div class="col-10">
            <input class="form-control input autocomplete2" id="cli" name="cli" placeholder="Nombre cliente"
                value="" data-url="{%url "autocomplete_search"%}" data-target="cli-result"
                data-model_name="gestion.client" data-input="client" data-field="id"/> 
            <div id="cli-result"></div>
        </div>
        <div class="col-2">
            <button class="btn btn-primary saveform mx-2" data-bs-dismiss="modal" data-form="form-search" data-target="client-list">
                {%trans "Guardar"%}</button>
        </div>
    </div>
</form>
        {%comment%}
        <button type="button" id="btn-save" class="btn btn-primary ark mx-2" data-bs-dismiss="modal" 
            data-url="{% url "employees-timetable-clients-save" %}" data-target="client-list" data-obj_id="{{obj.id}}" 
            data-values="{{obj.client_id}}"> {% trans "Guardar" %}</button>
        {%endcomment%}

